# Byte-compiled / optimized / DLL files
# C extensions
# Distribution / packaging
build/
.eggs/
*.egg-info/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# Installer logs
# Unit test / coverage reports
# Translations
# Django stuff:
# Sphinx documentation
# PyBuilder
# jetbrains
.idea
.nfs*
# exception dump

etc/.gphoto-terminated
