[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mock = "*"
appdirs = "*"
requests = "*"
six = "*"
requests_oauthlib = "*"
PyYaml = "*"
piexif = "*"
python-magic = "*"

[dev-packages]

[requires]
python_version = "3.6"
